<div class="container">
    <div class="form">
        <h2 class="title">NutriFit</h2>
        <h3>Trocar Senha</h3>

        <div (ngSubmit)="changePassword()" [formGroup]="formChangePassWord">
            <div>
                <label for="currentPassword">Senha Atual:</label>
                <p>{{formChangePassWord.controls['currentPassword'].value}}</p>
                <input type="password" id="currentPassword" formControlName="currentPassword">
            </div>
            <div>
                <label for="newPassword">Nova Senha:</label>
                <input type="password" id="newPassword" formControlName="newPassword">
            </div>
            <div>
                <label for="confirmPassword">Confirmar Senha:</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword">
            </div>

            <button type="submit" [disabled]="!formChangePassWord.valid">Trocar Senha</button>
        </div>
    </div>
</div>