.login-container{
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100vh;
}
.img-background-container{
    background-size: cover;
}
.img-login{
    background-image: url("../../../assets/img/login-background.png");
}
.img-forget-password{
    background-image: url("../../../assets/img/forget-password-background.png");
}
.side-login{
    background-color: var(--default-orange);
    ;
}