<div class="container">
    <div class="form">
        <h2 class="title">NutriFit</h2>
        <h3>Trocar Senha</h3>
        <div (ngSubmit)="changePassword()" [formGroup]="formChangePassWord">

            <div class="input-icon flex">
                <img src="../../../assets/icons/PasswordLock.svg">
                <input [type]="passwordType" placeholder="Senha" formControlName="currentPassword">
                <button (click)="showPassword()"><img id="eye-password" [src]="showIconPath"></button>
            </div>
            <div class="input-icon flex">
                <img src="../../../assets/icons/PasswordLock.svg">
                <input [type]="passwordType" placeholder="Nova Senha" formControlName="newPassword">
                <button (click)="showPassword()"><img id="eye-password" [src]="showIconPath"></button>
            </div>

            <div class="input-icon flex">
                <img src="../../../assets/icons/PasswordLock.svg">
                <input [type]="passwordType" placeholder="Confirmar Nova Senha" formControlName="confirmNewPassword">
                <button (click)="showPassword()"><img id="eye-password" [src]="showIconPath"></button>
            </div>
            <div class="message" *ngIf="message">{{ message }}</div>
            <div class="button-container">
                <button (click)="changePassword()" class="button" type="submit" >Trocar Senha</button>
            </div>
        </div>
    </div>
</div>