<div class="flex column" [formGroup]="form">
    <label class="logo">NutriFit</label>
    <label class="forget-password-txt">Esqueci a senha</label>

    <div id="inputs">
        <div class="input-icon flex">
            <img src="../../../assets/icons/Email.svg">
            <input type="email" placeholder="Email" formControlName="email">
        </div>
    </div>
    <div class="forget-password-container">
        <button (click)="recoveryPassword()" [disabled]="form.invalid">Recuperar senha</button>
    </div>
</div>