<div class="user-container grid-body">
    <app-sidebar></app-sidebar>
    <div class="content flex column">
        <app-loader [condition]="isLoading"></app-loader>
        <div *ngIf="!isLoading" class="holder-green">
            <div class="holder-content">
                <div class="flex" style="justify-content: space-between;align-items: center;">
                    <div class="img-label-holder flex" style="align-items: center;">
                        <img src="../../../assets/img/login-background.png" class="rounded">
                        <label class="user-name">{{user.name}}</label>
                    </div>
                    <div>
                        <div class="default-send-button flex">
                            <div *ngIf="isLoadingButton" class="holder-green"></div>
                            <button [disabled]="isFormInvalid()" *ngIf="!isLoadingButton" (click)="sendForm()" style="color: black;">Salvar</button>
                        </div>
                    </div>
                </div>
                <div class="holder-white">
                    <div class="holder-content" style="margin-top: 16px;" [formGroup]="form">
                        <p>Email:
                            <input formControlName="email">
                        </p>
                        <hr class="sidebar-hr">
                        <p>Idade:                            
                            <input formControlName="age">
                        </p>
                        <hr class="sidebar-hr">
                        <p>Peso:
                            <input formControlName="weigth">
                        </p>
                        <hr class="sidebar-hr">
                        <p>Altura:                            
                            <input formControlName="heigth">
                        </p>
                        <hr class="sidebar-hr">
                        <p>Biotipo:
                            <select formControlName="biotypeId">
                                <option [ngValue]=0 disabled>Biotipo</option>
                                <option [ngValue]=1>Não sei informar</option>
                                <option [ngValue]=2>Ectomorfo</option>
                                <option [ngValue]=3>Mesomorfo</option>
                                <option [ngValue]=4>Endomorfo</option>
                            </select>
                        </p>
                        <hr class="sidebar-hr">
                        <p>Sexo:
                            <select formControlName="sexId">
                                <option [ngValue]=0 disabled>Sexo</option>
                                <option [ngValue]=1>Masculino</option>
                                <option [ngValue]=2>Feminino</option>
                                <option [ngValue]=3>Outros</option>
                              </select>
                        </p>
                        <hr class="sidebar-hr">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>